/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.post {
  -webkit-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 21px;
  margin-bottom: 21px;
}

.home,
.profile {
  border: 2px solid grey;
  margin: 30px 30px 0px 30px;
  padding: 10px;
  background: whitesmoke;
  box-shadow: -23px -20px 3px -2px rgba(212, 193, 193, 1);
  -webkit-box-shadow: -23px -20px 3px -2px rgba(212, 193, 193, 1);
  -moz-box-shadow: -23px -20px 3px -2px rgba(212, 193, 193, 1);
}

.blog-header {
  border: 2px solid grey;
  padding: 10px;
  background: whitesmoke;
  text-align: center;
}

.subprofile-container {
  display: flex;
  justify-content: center;
}
.box-1,
.box-2 {
  border: 2px solid grey;
  width: 50%;
  margin: 5px;
  padding: 20px;
}

.form-container {
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  background: #ded7b1;
}
